@import "./variables";

.header {
  justify-content: center;
  width: 100%;
  display: flex;
  padding: 20px;
  margin: 0;
  background-color: white;
  color: black;
  font-family: 'Segoe UI Light';
  text-transform: uppercase;
  box-shadow: 0px 0px 15px 0px #8c8c8c;
}

.counter-form {
  display: flex;
  width: 45%;
  margin: 20px auto;
  background-color: white;
  flex-direction: column;
  box-shadow: 5px 5px 10px 0px #8c8c8c;
  padding: 30px;
  border-radius: 5px;

  & label {
    display: flex;
    justify-content: space-between;
  }

  & .sex-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;

    & .text {
      // border-bottom: 1px solid black;
      text-decoration: underline;    
    }

    & label {
      display: inline;
    }
  }

  & input[type="number"] {
    margin: 10px 0;
    padding: 5px 8px 5px 10px;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    width: 20%;
  }

  & select {
    height: 27px;
    border: 1px solid $input-border-color;
    padding: 5px 8px 5px 10px;
    border-radius: 5px;
    width: 24%;
    cursor: pointer;
  }


  & button[type="submit"] {
    color: white;
    border: none;
    width: 50%;
    margin: 10px auto;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: coral;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    font-family: 'Segoe UI';
    text-transform: uppercase;

    &:hover {
      background-color: darken(coral, 10%);
    }
  }
}

.result {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
 
  & ul {
    padding-left: 20px;
    margin: 0;
  }
}

.shwarc {
  width: 300px;
  height: 390px;
  margin: 20px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px #8c8c8c;
}

.container {
  display: flex;

  & .sidebar {
    width: 290px;
    height: 320px;
    background-color:#fbfc7e;
    margin: 20px 10px 10px 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px #8c8c8c;
    padding: 30px;
    font-size: 18px;
    color:#160beb;
  }

  & .error {
    color: red;
  }
}