.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  justify-content: center;
  border: 2px dashed brown;
  width: 50%;
  display: flex;
  margin: 20px auto;
}

.counter-form {
  display: flex;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;

  & label {
    display: flex;
    justify-content: space-between;
    color: yellowgreen;
  }

  & .sex-input {
    display: flex;
    justify-content: space-between;

    & .text {
      // border-bottom: 1px solid black;
      text-decoration: underline;    
    }

    & label {
      display: inline;
    }
  }

  & input[type="number"] {
    margin: 10px 0;
  }
}

.result {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
 
  & ul {
    padding-left: 20px;
    margin: 0;
  }
}